<div class="container">
  <div class="container-logo">
    <div></div>
    <div class="logo">
      <img src="../../assets/icon/logobig.png"/>
    </div>
    <div></div>
  </div>
  <div class="container-text">
    <p class="logo-text">
      <b>We are Entertainment Insurance</b><br>
      Starshot Insurance covers a wide variety of events from music festivals to
      sports game and so much more. We leverage state-of-the-art technology to
      provide you with a cost-effective comprehensive protection plan. 
    </p>
    <button class="btn-learnmore" routerLink="/product" routerLinkActive="active">Learn more</button>
  </div>
</div>
