<div class="container">
  <h1>Hi, There</h1>
  <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <div class="view w-100">
        <img
          class="d-block w-100"
          src="../../assets/icon/music-fest-img.png"
          alt="First slide"
        />
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Music Festival</h3>
        <p>
          Our products cover a wide range of world-famous artists' concerts.
          <br><b>Let the music play</b>
        </p>
        <button class="buy-btn" routerLink="getevent/music/upcoming" routerLinkActive="active"><b>Buy</b></button>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img
          class="d-block w-100"
          src="../../assets/icon/sport-img.png"
          alt="Second slide"
        />
        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Sports Game</h3>
        <p>
          Whether you’re football lover or car racing fan,<br>
          we have all types of sports game events you can think of.
          <br><b>Let the game begin</b>
        </p>
        <button class="buy-btn" routerLink="getevent/sport/upcoming" routerLinkActive="active"><b>Buy</b></button>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img
          class="d-block w-100"
          src="../../assets/icon/conference-img.png"
          alt="Third slide"
        />
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Conference</h3>
        <p>No matter what you are interested in right now, we cover various topics conferences
        <br><b>Let the idea spread</b>
        </p>
        <button class="buy-btn" routerLink="getevent/conference/upcoming" routerLinkActive="active"><b>Buy</b></button>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
</div>
<div>
  <router-outlet></router-outlet>
</div>